html, body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
  }
  
  #task-input {
    font-size: 16px;
    background-color: #d2d2d2;
    width: 250px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #task-input:focus {
    outline: none;
    background-color: #f0f0f0;
  }
  
  #tasks{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #tasks li {
    font-size: 1.2em;
    color: #333;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #tasks li:hover {
    background-color: #d2d2d2;
  }
  
  #tasks li.done {
    text-decoration: line-through;
    color: #ccc;
  }
  
  #tasks li.done:hover {
    background-color: #ccc;
  }
  
  #deleteTask {
    background-color: #ff5a5a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #deleteTask:hover {
    background-color: #e04848;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  h2 {
    color: #666;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  form {
    margin: 20px auto;
    width: 300px;
  }